page-about {
.eff {
    color: black;
    width: 50%;
}
.eff1 {
    background-size: 10%;
}
.h {
    font-size: 18px;
}
.s {
    font-size: 15px;
}
.pad {
    font-size: 15px;
    line-height: 1.3em;
      
      word-spacing:1.2px;
      letter-spacing:0.4px;
    padding: 20px;
   
   
}
}
