page-h11 {
    .bg {
        background-color:rgb(44, 40, 40);
    }
       .h {
            color: rgb(158, 111, 40);
            color: rgb(62, 184, 58);
            font-size: 22px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .p {
            color: rgb(245, 240, 240);
           
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
}
